{% extends "index.html" %}
{% load static %}


{% block links %}

{% endblock links %}

{% block content %}
<section class="content">
	<div class="row">
		<div class="col-md-3">
			<a href="" class="btn btn-primary btn-block mb-3">Complaints</a>

			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Folders</h3>

					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-minus"></i>
						</button>
					</div>
				</div>
				<div class="card-body p-0">
					<ul class="nav nav-pills flex-column">
						<li class="nav-item active">
							<a href="#" class="nav-link">
								<i class="fas fa-inbox"></i> Inbox
								<span class="badge bg-primary float-right">{{ complaints|length }}</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="far fa-envelope"></i> Sent
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="far fa-file-alt"></i> Drafts
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="fas fa-filter"></i> Junk
								<span class="badge bg-warning float-right">65</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="far fa-trash-alt"></i> Trash
							</a>
						</li>
					</ul>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Labels</h3>

					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-minus"></i>
						</button>
					</div>
				</div>
				<div class="card-body p-0">
					<ul class="nav nav-pills flex-column">
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="far fa-circle text-danger"></i>
								Product Issues
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="far fa-circle text-warning"></i> Billing Issues
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="far fa-circle text-primary"></i>
								Staff Behaviour
							</a>
						</li>
					</ul>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
		<!-- /.col -->
		<div class="col-md-9">
			<div class="card card-primary card-outline">
				<div class="card-header">
					<h3 class="card-title">Inbox</h3>

					<div class="card-tools">
						<div class="input-group input-group-sm">
							<input type="text" class="form-control" placeholder="Search Mail">
							<div class="input-group-append">
								<div class="btn btn-primary">
									<i class="fas fa-search"></i>
								</div>
							</div>
						</div>
					</div>
					<!-- /.card-tools -->
				</div>
				<!-- /.card-header -->
				<div class="card-body p-0">
					<div class="mailbox-controls">
						<!-- Check all button -->
						<button type="button" class="btn btn-default btn-sm checkbox-toggle"><i
								class="far fa-square"></i>
						</button>
						<div class="btn-group">
							<button type="button" class="btn btn-default btn-sm">
								<i class="far fa-trash-alt"></i>
							</button>
							<button type="button" class="btn btn-default btn-sm">
								<i class="fas fa-reply"></i>
							</button>
							<button type="button" class="btn btn-default btn-sm">
								<i class="fas fa-share"></i>
							</button>
						</div>
						<!-- /.btn-group -->
						<button type="button" class="btn btn-default btn-sm">
							<i class="fas fa-sync-alt"></i>
						</button>
					
								</div>
								<div class="table-responsive mailbox-messages">
									<table class="table table-hover table-striped">
										<tbody>
											{% for complaint in complaints %}
									<tr>
										<td>
											<div class="icheck-primary">
												<input type="checkbox" value="" id="check1">
												<label for="check1"></label>
											</div>
										</td>
										<td class="mailbox-star"><a href="#"><i class="far fa-envelope text-warning"></i></a>
										</td>
										<td class="mailbox-name"><a href="{% url 'complaint_detail' complaint.pk %}">{{complaint.customer.name}}</a></td>
										<td class="mailbox-subject"><b>{{complaint.complaint_type}}</b>
										</td>
										<td> {{complaint.details}} </td>
										<td class="mailbox-date">{{ complaint.date_submitted|timesince }} ago</td>
									</tr>
									{% endfor %}
									</tbody>
									</table>
						<!-- /.table -->
						</div>
						<!-- /.mail-box-messages -->
						</div>
						<!-- /.card-body -->
						<div class="card-footer p-0">
							<div class="mailbox-controls">
								<!-- Check all button -->
								<button type="button" class="btn btn-default btn-sm checkbox-toggle">
									<i class="far fa-square"></i>
								</button>
								<div class="btn-group">
									<button type="button" class="btn btn-default btn-sm">
										<i class="far fa-trash-alt"></i>
									</button>
									<button type="button" class="btn btn-default btn-sm">
										<i class="fas fa-reply"></i>
									</button>
									<button type="button" class="btn btn-default btn-sm">
										<i class="fas fa-share"></i>
									</button>
								</div>
								<!-- /.btn-group -->
								<button type="button" class="btn btn-default btn-sm">
									<i class="fas fa-sync-alt"></i>
								</button>
							</div>
						</div>
						</div>
						<!-- /.card -->
						</div>
						<!-- /.col -->
						</div>
						<!-- /.row -->
						</section>
						<!-- /.content -->
						{% endblock content %}
						
						{% block scripts %}
						
						<script>
							$(function () {
								//Enable check and uncheck all functionality
								$('.checkbox-toggle').click(function () {
									var clicks = $(this).data('clicks')
									if (clicks) {
										//Uncheck all checkboxes
										$('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
										$('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
									} else {
										//Check all checkboxes
										$('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
										$('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
									}
									$(this).data('clicks', !clicks)
								})
							})
						</script>

						{% endblock scripts %}