{% extends 'index.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <div class="card card-primary">
            <div class="card-header d-flex justify-content-center">
                <h5>Change Password</h5>
            </div>
            <form method="POST">
                <div class="card-body">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                    <div class="form-group d-flex justify-content-between">
                        <button type="submit" class="btn btn-outline-primary">
                            Save Changes
                        </button>
                        <a onclick="window.history.back()" class="btn btn-outline-secondary">Cancel</a>
                    </div>;
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}