{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMART HOME SECURITY</title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1"><b>SMART HOME</b> SECURITY SYSTEM</a>
            </div>
            <div class="card-body">
                {% if validlink %}
                <p class="login-box-msg">You are only one step a way from your new password, recover your password now.
                </p>
                <form method="post">
                    {% csrf_token %}
                    <div>
                        {{form|crispy}}
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Change password</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                {% else %}
                <div class=" form-group">
                    <p>The password reset link is invalid, possibly because it has already used. Please
                        request a new password reset.</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="{% url 'password_reset' %}" class="btn btn-primary">New Password Reset</a>
                    <a href="{% url 'login' %}" class="ml-auto">Login</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- /.login-box -->

    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
</body>

</html>